<html>
    <head>

    </head>
    <body>
        <%if (locals.user){%>
            <li><%=user.name%></li>
            <a href="/users/signOut">Sign Out</a>
        <%}%>
        <h1>Codiel Profile Page </h1>

    </body>
</html>