<html>
    <head>

    </head>
    <body>
         <h1>Codiel Profile Page </h1>
        <%if (locals.user){%>
            
            <a href="/users/signOut">Sign Out</a>
            <%=user.name%>
        <%}%>
       
    </body>
</html>