<html>
  <head></head>
  <body>
        <%if (flash.success && flash.success.length >0){%>
      <h5><%=flash.success%></h5>
    <%}%>
    <h1>Sign Up </h1>
    <h1>Codiel And this new one </h1>
    <form action="/users/create" method="POST">
      <input type="text" name='name' placeholder="Your name" required>
       <input type="email" name='email' placeholder="Your Email" required>
        <input type="password" name='password' placeholder="Your Password" required>
         <input type="password" name='confirm' placeholder="confirmPassword" required>
         <input type="submit">
    </form>
  </body>
</html>;
