<html>
  <head>
    
  </head>
  <body>
    <h1>Sign In </h1>
    <h1>Codiel And this new one </h1>
    <form action="/users/createSession" method="POST">
     
       <input type="email" name='email' placeholder="Your Email" required>
        <input type="password" name='password' placeholder="Your email" required>
         <input type="submit">
    </form>
  </body>
</html>;
